/* Polices d'éccriture */
@font-face
{
    font-family: 'Open Sans';
    src: url(../Polices/OpenSans-Regular.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Open Sans Light';
    src: url(../Polices/OpenSans-Light.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Chapaza';
    src: url(../Polices/Chapaza.ttf) format('truetype'); 
}

body
{
    background-color: rgb(224, 250, 255);
    font-family: 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1em;
}

a
{
    color: #014a4e;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 10px;
}

a:hover
{
    color: #fff;
    background-color: #003366;
}

section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

section h1
{
    font-family: 'Chapaza', 'Open Sans', 'Helevetica', serif;
    font-size: 3.5em;
    color: #003366;
}

article
{
    font-family: 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1em;
}

#supprimer
{
    color: red;
    font-weight: bold;
    padding: 1px 6px;
    margin: 2px;
    border-radius: 20px;
    border: 1px rgb(224, 250, 255) solid;
}

#supprimer:hover
{
    color: #fff;
    background-color: rgb(255, 128, 128);
    border: 1px red solid;
}


footer
{
    font-family: 'Open Sans Light', 'Open Sans', 'Helvetica', sans-serif;
    text-align: center;
    margin-top: 20px;
}

#lien_page_principale
{
    color: #0059b3;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#lien_page_principale:hover
{
    color: rgb(224, 250, 255);
    background-image: linear-gradient(to top right, #003366, #0078ef);
    /*background-color: #0059b3;*/
    font-weight: normal;
}