/* Polices d'éccriture */
@font-face
{
    font-family: 'Open Sans';
    src: url(../Polices/OpenSans-Regular.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Open Sans Light';
    src: url(../Polices/OpenSans-Light.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Chapaza';
    src: url(../Polices/Chapaza.ttf) format('truetype'); 
}


body
{
    background-color: rgb(224, 250, 255);
    font-family: 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1em;
}

a
{
    color: #003033;
    text-decoration: none;
}

a:hover
{
    color: #660000;
    font-weight: bold;
}

main
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: right;
    width: 80%;
    margin: auto;
}

section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

section h1
{
    font-family: 'Chapaza', 'Open Sans', 'Helevetica', serif;
    font-size: 3.5em;
    color: #003366;
}

article
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: 0em;
    margin: 1em 0em;
}

article h2
{
    font-family: 'Open Sans Light', 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1.8em;
    color: #003033;
}

article ul, article p
{
    margin: 1em;
    padding: 0em 1em;
}

li
{
    margin: 5px;
}

footer
{
    font-family: 'Open Sans Light', 'Open Sans', 'Helvetica', sans-serif;
    text-align: center;
}

#lien_page_principale
{
    color: rgb(255, 160, 72);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#lien_page_principale:hover
{
    color: rgb(255, 100, 28);
    background-color: rgb(255, 235, 221);
    font-weight: normal;
}