/* Polices d'éccriture */
@font-face
{
    font-family: 'Open Sans';
    src: url(../Polices/OpenSans-Regular.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Open Sans Light';
    src: url(../Polices/OpenSans-Light.ttf) format('truetype'); 
}

#picBandeau
{
    top: 0px;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0px;
}

header, section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

body
{
    background: #0078ef;
}

h1
{
    text-align: center;
    font-size: 2.5em;
    color: #0078ef;
}

#indication
{
    font-family: 'Open Sans Light';
    font-size: 1em;
    text-decoration: none;
}

#indication em
{
    font-family: 'Open Sans';
    font-size: 1.1em;
    font-style: normal;
    background-color: inherit;
}

section
{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.1em;
}

fieldset
{
    font-size: 1em;
    border: 1px solid #ccc;
    margin: 0px;
}

legend
{
    font-family: 'Open Sans Light', Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(88, 88, 88);
    text-shadow: 2px 2px 2px #0078ef;
}

section, h1
{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

form {
    width:100%;
    padding: 30 30px 10px 30px;
    margin: 0px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input
{
    font-family: 'Open Sans Light', Helvetica, sans-serif;
    font-size: 1em;
}

.inputEcrivable /*input:not(input[type=radio]) Devrait sélectionner tous les input sauf ceux qui sont de type radio */
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputEcrivable:hover, .inputEcrivable:focus
{
    background-color: #e8f8ff;
}

/*.inputEcrivable:invalid
{
    box-shadow: none;
    background-color: #ffe8e8;
    border: 2px solid rgb(255, 200, 200);
}*/

.inputEcrivable:required:valid
{
    background-color: #ddffe4;
    border: 1px solid rgb(0, 180, 48);
    box-shadow: 0px 0px 3px rgba(0, 180, 48);
}

.radioBouton
{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.radioBouton label
{
    font-family: 'Open Sans Light', Helvetica, sans-serif;
    font-size: 1em;
}

.label_radioBouton
{
    margin: 10%;
}

input[type=submit]
{
    background-color: #0078ef;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #0078ef;
    cursor: pointer;
    width: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5em;
}

input[type=submit]:hover
{
    background-color: white;
    color: #0078ef;
    border: 2px solid #0078ef;
}