/* Polices d'éccriture */
@font-face
{
    font-family: 'Open Sans';
    src: url(../Polices/OpenSans-Regular.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Open Sans Light';
    src: url(../Polices/OpenSans-Light.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Chapaza';
    src: url(../Polices/Chapaza.ttf) format('truetype'); 
}


body
{
    background-color: rgb(224, 250, 255);
    font-family: 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1em;
}

a
{
    color: #014a4e;
    text-decoration: none;
}

a:hover
{
    color: #660000;
    font-weight: bold;
}

section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

section h1
{
    font-family: 'Chapaza', 'Open Sans', 'Helevetica', serif;
    font-size: 3.5em;
    color: #003366;
}

article
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    font-family: 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1em;
}


article h2
{
    font-family: 'Open Sans Light', 'Open Sans', 'Helevetica', sans-serif;
    font-size: 1.8em;
    color: #014a4e;
}

#composition, #preparation
{
    padding: 0em 1.5em;
    margin: 1em 0em;
    background-color: rgb(255, 235, 221);
    border-radius: 25px;
}

#preparation p
{
    margin: 1.5em;
}

#photoCocktail
{
    padding: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #003366;
}

#ajoutPanier
{
    font-size: 1.2em;
    color: #1088ff;
    padding: 5px;
    border-radius: 10px;
}

#ajoutPanier:hover
{
    background-image: linear-gradient(to top right, #004080, #00d3ef);
    color: #fff;
    font-weight: normal;
}

#ajoutPanier:active
{
    font-weight: bold;
}

footer
{
    font-family: 'Open Sans Light', 'Open Sans', 'Helvetica', sans-serif;
    text-align: center;
}

#lien_page_principale
{
    color: #0059b3;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#lien_page_principale:hover
{
    color: rgb(224, 250, 255);
    background-image: linear-gradient(to top right, #003366, #0078ef);
    /*background-color: #0059b3;*/
    font-weight: normal;
}