/* Palette de couleurs : Aquamarine #02C8A7 | Golden #F9BE02 | Bright coral #F53240 | Sky #7CDBD5 */

/* Polices d'écriture */
@font-face
{
    font-family: 'Florence';
    src: url(../Polices/Florence-Regular.ttf) format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    src: url(../Polices/OpenSans-Regular.ttf) format('truetype'); 
}

@font-face
{
    font-family: 'Open Sans Light';
    src: url(../Polices/OpenSans-Light.ttf) format('truetype'); 
}


html, body, header
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body
{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

header
{
    background: url(../Images/cocktails_main_page_2.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0px 1px 10px black;
    width: 100%;
    height: 100%;

}

.menu
{
    list-style-type: none;
    display: flex;
    position: fixed;
    font-size: 2vw;
    z-index: 2;
}

/*a:link
{
    background-color: #02C8A7;
    color: white;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-radius: 10px;
}*/

/*a:hover {
    background-color: #7CDBD5;
}*/

.menu_item
{
    color: white;
    text-shadow: 0px 0px 2px black;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    text-decoration: none;
    border-radius: 10px;
}

.menu_item:hover
{
    background-color: #0059b3;
}

.menu_item:active
{
    background-color: #0078ef;
}

#pseudo
{
    color: rgba(0, 180, 48);
}

#pseudo:hover
{
    color: rgba(0, 180, 48);
    background-color: #003366;
    text-shadow: none;
}

#deco:hover
{
    color: maroon;
    background-color: #003366;
    text-shadow: none;
}

#picTitle
{
    display: block;
    margin: auto;
    width: 40%;
    z-index: 1;
}

.conteneur
{
    display: table;
    width: 100%;
    height: 100%;
    /* On fait comme si notre fenêtre un tableau car on veut pouvoir centrer verticalement le contenu et on peut y avoir accès qu'avec vertical align utilisable que pour les tableaux. */
}

.contenu
{
    display: table-cell;
    text-align: center;
    position: absolute;
    top: 30%;
}

#sous-titre
{
    font-family: 'Florence', sans-serif;
    font-size: 3vw;
    color: #fff;
    text-shadow: 0px 0px 5px #003366;
}

#recherche
{
    width: 30%;
    height: 30%;
    font-size: 2vw;
    padding: 10px 15px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto; 
    border: 4px solid #0059b3;
    border-right: none;
    border-radius: 30px 0 0 30px;
    position: relative;
    outline: none;
    text-align: center;
    vertical-align: middle;
    top: 100%;
    font-family: 'Open Sans Light', Helvetica, sans-serif;
}

#recherche:focus
{
    border: 4px solid #0078ef;
}

.searchButton
{
    width: 100px;
    height: 100px;
    background: #0059b3;
    color: #fff;
    border-radius: 50% ;
    cursor: pointer;
    position: relative;
    left: -3vw;
    border-left: none;
    vertical-align: middle;
    bottom: -4vh;
    border: 3px solid #0059b3;
}

.advancedSearchButton
{
    border: none;
    background-color: #ffffff;
    margin-top: 4%;
    cursor: pointer;
}

.searchButton:hover
{
    background-color: #0078ef;
    border: 3px solid #0078ef;
}

.fa-search
{
    color: #fff;
}

main
{
    width: 80%;
    margin: auto;
}